.sect3 {
    background: #163A24;
    padding: 100px 176px;
}


.container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.cont3-title {
    width: 823px;
    height: 54px;
    font-weight: 600;
    font-size: 38px;
    line-height: 32px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    color: #FBFAF7;
}


.cont3links {
    list-style: none;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont3item {
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.iteminfo {
    margin-top: 15px;
    width: 198px;
    color: #FBFAF7;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.sect4 {
    padding: 50px 130px;
    background-color: #FBFAF7;
   
}

.container-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cont4-title {
    width: 739px;
    font-weight: 600;
    font-size: 38px;
    line-height: 54px;
    font-family: 'IBM Plex Mono', monospace;
    /* or 112% */

    text-align: center;

    color: #163A24;

}


.cont4-info {
    width: 760px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */

    text-align: center;

    color: #163A24;

}